<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='fichier_css.css') }}">
    <title>Authentification Admin</title>

</head>
<body>
    <h1>Authentification Admin</h1>
        
    <main>
        <!-- Formulaire de connexion pour l'administrateur -->
        <div class="login-container">
            <form action="/admin" method="post" class="login-form">
                <label for="username">Identifiant:</label>
                <input type="text" id="username" name="username" required><br><br>

                <label for="password">Mot de passe :</label>
                <input type="password" id="password" name="password" required><br><br>

                <button type="submit" class="bouton" >Connexion</button>
            </form>

            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
        </div>
    </main>

    <footer class="footer">
        <!-- Texte en bas de page -->
        <p>© 2023 Nom de votre site - Texte en bas de page</p>
    </footer>

    <!-- Scripts JavaScript et autres ressources -->
</body>
</html>

   
    

               
